<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/436424315_122096581724324850_7376354856937511274_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeErP69JvLepg57eRhXkYqwSzVrqw8A-_sLNWurDwD7-wmY5IEk0fX-7nPDFiV_NUOWmQEG9DUCBGEOsLob9FLdC&_nc_ohc=juv-P1RPpfkQ7kNvgHCMYxp&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AE6UdHQBmiTmTFI46pYVYAW&oh=00_AYA49MsNt8w2QbrdtlLU0MM35sFW2rik4oQo3zJUK2rDVg&oe=6717CD56"
                alt="Logo Clínica Dental Villegas">
            <div>
                <h1><u>Clínica Dental </u><span><u>
                            <h1>Villegas</h1>
                        </u></span></h1>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tratamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactos</a>
                </li>
            </ul>
            <a href="#!" class="btn btn-login">Iniciar sesión</a>
        </div>
    </div>
</nav>

<div class="subtitulos">
    <h2>Somos una Clínica Dental Especializada enfocada en la Rehabilitación Oral a nuestros pacientes.</h2>
    <p>Te asesoramos en el procedimiento que necesitas con los mejores profesionales.</p>
    <a href="#!" class="btn btn-login btn-login-alt">!RESERVA AHORA!</a>
</div>
<div class="datos">
    <div class="telefono">
    <a href="#!" class="btn btn-login">
        <i class="bi bi-telephone-fill">
        </i>
    </a>
    <u>921 785 848</u>
</div>
<div class="ubicacion">
    <a href="#!" class="btn btn-login">
    <i class="bi bi-geo-alt-fill"></i>
    </a>
    <u>C.C GOLD CENTER 2°do Piso</u>
</div>
</div>

<div class="promociones">
    <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/447296737_122111321528324850_7577478299750586747_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFqOrZWdXJPR-eMmxIaBQwU55o85nB-72DnmjzmcH7vYDsQQAjhu6FQU5Zt9YJ1w2oegEMOOzmNjcPRn9g7SW1T&_nc_ohc=FK2HZXNX_O4Q7kNvgH8-T6r&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AmyirbZVtp8nZYCEiin_0eN&oh=00_AYCPYgjXN_ytDKyokRVAGyH5z8fpoULb36J1UbBFpqaR4Q&oe=6718720B" alt="">
    <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/438092448_122103922172324850_8229293406620247081_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFXJB6UXxH2Ar299w-DsLrNx8q-HhP4oFrHyr4eE_igWgsEo4WKprGxxcD4pMZZPii9s_7Iso_HOWpfWzD6dFir&_nc_ohc=HH_2PY1-LTAQ7kNvgGdzj_9&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AYLwL5d1hBG2Gr094Mj_fFg&oh=00_AYBvkgm4jZrqMpj873usFrD3Ib9ySP6lMGyG6b22TlNs0A&oe=6718677A" alt="">
    <img src="https://scontent.fpio4-1.fna.fbcdn.net/v/t39.30808-6/441500739_122106013724324850_1670362285092413559_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGvgoaaRv_Tup5YavqRtQdn57JYE5ir_4vnslgTmKv_i6rCXkpnNB5qnEOUVNkDgCd7_DlAnguP5fIe7MlW-f42&_nc_ohc=zjqzbmzWmzwQ7kNvgEG9FZS&_nc_zt=23&_nc_ht=scontent.fpio4-1.fna&_nc_gid=AIUmySG50eD2V_hT_T475cD&oh=00_AYCvZlI6INtVTa5Ti2XuGkOv_VPw-OM0c4veNSZJYV-rRg&oe=67185AF1" alt="">
</div>
<div class="servicios">
    <h4>NUESTROS SERVICIOS</h4>
    <h1>Lista de nuestros tratamientos</h1>
</div>
<div class="tratamientos">
    <div class="box1">
        <img src="media/endondoncia1.jpg" alt="">
    </div>
    <div class="box2"></div>
    <div class="box1"></div>
    <div class="box2"></div>
</div>
